<%= form_with(model: [rhetoric, comment]) do |form| %>
  <div class="comment-textarea">
    <%= form.text_area :content, :placeholder => "コメントを追加する" %>
  </div>

  <div class="comment-submit">
    <%= form.submit "コメントする", :class => "btn" %>
  </div>

<% end %>