<% @user ||= current_user %>
<div class="stats">
  <a href="<% following_path(@user) %>">
    フォロー
    <strong id="follow" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<% followers_path(@user) %>">フォロワー
    <strong id="follower" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
