<div class="main rhetorics-index">
  <div id="masonry-container">
<div id="search-square">
  <% @rhetorics.each do |rhetoric| %>
    <% rhetoric.tag_list.each do |tag| %>
      <%= link_to rhetorics_path(tag_name: tag) do %>
        <%= "#{tag}" %>
      <% end %>
    <% end %>
  <% end %>
</div>
  </div>
</div>

