<% tag_list.each do |tag| %>
  <span class="tag">
    <%= link_to rhetorics_path(tag_name: tag) do %>
      <div class="tag-body">
        <%= "#{tag}" %>
      </div>
    <% end %>
  </span>
<% end %>



