<div class="container">

  <div class="row">

    <% @rhetorics.each do |rhetoric| %>

      <div class="col-sm-4">

        <div class="img"><%= link_to image_tag(image_rhetoric_path(rhetoric)),rhetoric %></div>

      </div>


    <% end %>

  </div>


</div>