$(".main-rhetorics-index").hide();
$("#rhetoric-search-result").show();
$("#rhetoric-search-result").html("<div class='well'><h2>インクリメンタル検索</h2></div><%= escape_javascript(render 'search_rhetoric_list') %>");