<div class="main new-rhetoric">
  <div class="container rhetoric-new">
        <div class="rhetoric-new-grid message">
            <div class="new-rhetoric-message">
                <h2>オススメの言葉を投稿する</h2>
                <h5>ソクラテスの名言、ルフィのあの言葉、昨日職場の先輩の言っていたあの言葉、みんなにオススメの素敵な言葉を投稿しよう</h5>
            </div>
        </div>
        <div class="rhetoric-new-grid">
            <%= render 'form' %>
        </div>
    </div>

</div>
