<div class="main-about">
    <div class="container about">
        <div class="row about">
            <div class="col-xs-12">

              <h1>Quote 利用規約</h1>

              <h4>２０１９年７月２４日　制定・施行</h4>

            </div>
        </div>
    </div>
</div>