<div class="main-about">
    <div class="container about">
        <div class="row about">
            <div class="col-xs-12">
                <h1>利用規約・プライバシーを記載するページだよん</h1>
            </div>
        </div>
    </div>
</div>