<% assign_meta_tags title: 'プライバシーポリシー'%>

<div class="main about">
    <div class="container privacy">

      <h1>プライバシーポリシー</h1>

      <p>Quote（以下、「当団体」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）におけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

      <h3>【第１条　個人情報について】</h3>

      <p>１. 本ポリシーに置いて個人情報とは、個人情報の保護に関する法律（以下、「個人情報保護法」といいます）に定める「個人情報」をいいます。</p>

      <p>２. 当団体は、本サービスに関して、以下の情報をはじめとしたお客様の情報を取得する場合があり、これらの情報には個人情報が含まれることがあります。</p>

      <p>（１）お客様が本サービスに登録する情報（氏名、ニックネーム、郵便番号、生年月日、性別、住所、職業、電話番号、メールアドレスおよびパスワード等） <br>
        　（２）お客様のプロフィールに関する情報（アイコン写真、趣味、家族構成、年齢その他の個人に関する属性情報等） <br>
        　（３）通信端末に関する情報（お客様のＩＰアドレス、利用状況、履歴、位置情報、利用端末、これまでにご利用いただいたサービスやご購入いただいた商品、ご覧になったページ・広告、ご利用時間帯、ご利用の方法、ご利用環境等）
      </p>

      <h3>【第２条　個人情報の利用目的について】</h3>

      <p>１. 当団体は、取得した個人情報を、以下の目的のために利用いたします。なお、個人情報の取得にあたって本ポリシーとは別に利用目的を通知した場合は、当団体は、以下の目的に加えて個別に通知した目的のために当該個人情報を利用いたします。</p>

      <p>（１）本サービスをご利用するお客様同士が本サービス上でお互いを認識できるようにするため。 <br>
        　（２）本サービスにおいて、どのお客様がコンテンツを投稿したり、ページを作成したりしているか等が分かるようにするため。<br>
        　（３）本サービス上において表示するコンテンツや広告等を個別のお客様向けに最適化するため。<br>
        　（４）本サービスを改善するため。<br>
        　（５）本サービスの内容を充実させるため。<br>
        　（６）新しいサービスの企画、検討、開発および提供をするため。<br>
        　（７）本サービスまたは新しいサービスに関連して実施するアンケートの対象者を抽出するため。<br>
        　（８）お客様に賞品や商品を送付するため。<br>
        　（９）お客様に本サービスまたは新しいサービスに関する情報をご連絡するため。<br>
        　（１０）料金のお支払いを遅滞したり、不正または不当な目的で本サービスを利用したり、他のお客様をはじめとした第三者に損害を発生させたりする等、利用規約に違反した方のご利用をお断りするため。<br>
        　（１１）個人を識別できない形式に加工した統計データを作成するため。<br>
        　（１２）お客様に本サービスに関するご利用料金を請求するため。<br>
        　（１３）お客様に当団体から支払いを行うため。<br>
        　（１４）お客様からのお問い合わせに対応するため。<br>
        　（１５）お客様の本人確認を行うため。<br>
        　（１６）その他、上記の利用目的および当社の事業に付帯、関連する目的のため。<br>
      </p>

      <h3>【第３条　個人情報の第三者提供】</h3>
      <p>１. 当団体は、以下に定める場合、個人情報を第三者に提供します。</p>
      <p>（１）本サービスにおけるお客様の識別のため、他のお客様向けに本サービス上でお客様の個人情報を表示する場合。 <br>
        　（２）当団体または第三者の広告の配信または表示を個別のお客様向けに最適化するために、当該最適化を実施する事業者に個人情報を提供する場合。<br>
        　（３）お客様の指示または同意に基づいて第三者に個人情報を提供する場合。<br>
        　（４）裁判所、監督官庁その他の公的機関から取得情報を提供するよう求められた場合等の個人情報保護法で第三者への個人情報の提供が認められている場合。<br>
      </p>

      <h3>【第４条　個人情報の共同利用について】</h3>
      <p>当団体は、本ポリシーに定められた利用目的、 または当団体がお客様に個別に通知する利用目的を達成するために、当団体のQuote以外の事業と、本サービスにおいて当団体が取得するお客様の個人情報を共同利用する場合があります。 この場合、当社は、責任をもってお客様の情報を管理し、本ポリシーに従った取扱いがなされるようにいたします。</p>

      <h3>【第５条　個人情報の開示等】</h3>

      <p>１. 当団体は、お客様からの個人情報の開示、内容の訂正、追加または削除、利用の停止、利用目的の通知、消去および 第三者への提供の停止（以下「開示等」といいます。）の請求に対して、遅滞なく対応いたします。</p>
      <p>２. 当団体は、お客様から開示等の請求があった場合、以下に定める方法または当団体が別途指定する方法を用いてお客様の本人確認をおこなった上で開示等を行います。</p>
      <p>（１）お客様から既に提供を受けているメールアドレスにメールを送信し、そのメールに返信して頂くことで本人であることを確認する。 <br>
        　（２）手続き時に、お客様のお名前と住所、電話番号、生年月日等を確認することで、本人を確認する。
      </p>

      <p>３. 本人確認後の開示等の手順は、本人確認の完了後に別途当社からご案内する通りとします。</p>
      <p>４. 開示等にあたり、当団体は、手数料の徴収は行いません。</p>

      <h3>【第６条　プライバシーポリシーの変更】</h3>
      <p>１. 本ポリシーの内容は、必要に応じて、ユーザーに通知することなく、変更することがあります。</p>
      <p>２. 当団体が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから、効力を生じるものとします。</p>

      <h3>【第７条　個人情報に関するお問い合わせ等について】</h3>
      <p>１. 個人情報に関する<%= link_to 'お問い合わせ', inquiry_path %>および苦情・相談に関する申し出、開示等の請求は本サービスにおける「お問い合わせ」よりお願い致します。</p>

      <h4>２０１９年７月２４日　制定・施行</h4>

    </div>
</div>