<div class="main genre-search">
  <div class="container genre-search">
    <div class="genre-title">
      <h3>今人気のタグ</h3>

      <% @popular_tags.each do |tag| %>
        <%= link_to rhetorics_path(tag_name: tag.name) do %>
            <%= "#{tag}" %>
        <% end %>
      <% end %>

    </div>
    <ul class="genre-list">
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
          <p>ONE PIECE</p>
        </div>
        <div class="genre-count">
          <p>（53,489）</p>
        </div>
      </li>
    </ul>

    <div class="genre-title">
      <h3>漫画・アニメの名言</h3>
    </div>
    <ul class="genre-list">
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
        </div>
        <div class="genre-count">
        </div>
      </li>
    </ul>

    <div class="genre-title">
      <h3>映画の名言</h3>
    </div>
    <ul class="genre-list">
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
        </div>
        <div class="genre-count">
        </div>
      </li>
    </ul>

    <div class="genre-title">
      <h3>小説の名言</h3>
    </div>
    <ul class="genre-list">
      <li class="genre-container">
        <div class="genre-image">
        </div>
        <div class="genre-name">
        </div>
        <div class="genre-count">
        </div>
      </li>
    </ul>

  </div>
</div>
