/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


// all
.img{
  width: 300px;
  max-width :100%;
  height: auto;
  margin: 10px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}



// layout

body{
  background-color: #ffffff;
  color: #2b2b2b;
}

.main{
  position: absolute;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 0px 15px;
  clear: both;
}



// navbar

.header{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
  background-color: #ffffff;
  color: #2b2b2b;
  font-weight: bold;
}

.header-logo{
  float: left;
  padding-left: 20px;
  font-size: 22px;
  line-height: 50px;
}

.header-right{
  float: right;
  padding-right: 20px;
}

.header-right li{
  float: left;
  text-align: center;
  float: left;
  padding: 15px 30px 15px 0px;
}



// nav-menu

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: #ffffff;
  color: #2b2b2b;
  transform: translateY(-100%);
  transition: all 0s;
  width: 250px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 70px 20px 20px 20px;
}

nav.globalMenuSp ul {
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  padding: 0px 20px 0px 0px;
  width: 100%;
  padding: 1em 0 1em 1em;
  text-align: left;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #2b2b2b;

}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

.navToggle {
  display: block;
  position: fixed;
  right: 12px;
  top: 12px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  background: #ffffff;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;    /* .navToggleに対して */
  width: 20px;
  border-bottom: solid 2px #2b2b2b;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}



// devise

.form-body{
  max-width: 400px;
  margin: 40px auto;
}

.form-inputs-text input{
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  font-weight: 300;
  height: 40px;
  width: 400px;
  border-radius: 20px;
  border: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

.form-actions input{
  height: 40px;
  width: 400px;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: #2b2b2b;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  color: #ffffff;
  font-weight: bold;
}

.form-actions input a:hover {
  opacity: 0.7;
}

.signup-signin-message h1, h4{
  font-weight: bold;
}
