/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


// all
.img{
  max-width :100%;
  height: auto;
  margin: 10px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2b2b2b;
  width: 100px
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
}

p {
  margin: 0px;
}




// layout

body{
  background-color: #ffffff;
  color: #2b2b2b;
}

.main{
  position: absolute;
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  padding: 0px 15px;
  clear: both;
}






// header

.header{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
  background-color: #ffffff;
  color: #2b2b2b;
  font-weight: bold;
}

.header-logo{
  float: left;
  padding-left: 20px;
  font-size: 22px;
  line-height: 50px;
}

.header-right{
  float: right;
  padding-right: 20px;
}

.header-right li {
  float: left;
}






// header-search

.header-search{
  float: left;
  margin-left: 20px;
  width: 60%;
  height: 30px;
  border-radius: 15px;
  background-color: #EFEFEF;
  text-align: center;
  margin-top: 10px;
}

.search-icon{
  float: left;
  height: 30px;
  width: 30px;
  margin: 0 6px;
  text-align: center;
}

.my-search {
  color: #8e8e8e;
  display: table-cell;
  padding-top: 7.5px;
}

.search-input form{
  height: 30px;
}

.search-input input[type="search"]{
  float: left;
  height: 100%;
  width: 90%;
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

.search-input input[type="submit"]{
  display: none;
}





// header-userProfile

.userProfileImage {
  margin: 10px 10px 0 0;
}

.userProfileImage img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.userProfileName {
  margin: 10px 50px 0 0;
  line-height: 30px;
}

.loginbtn {
  margin: 10px 40px 10px 0;
  height: 30px;
  width: 90px;
  background-color: #2b2b2b;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
}

.loginbtn h6 {
  margin: 0;
  line-height: 30px;
  font-weight: 800;
}





// nav-menu

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: #ffffff;
  color: #2b2b2b;
  transform: translateY(-140%);
  transition: all 0s;
  width: 250px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 70px 20px 20px 20px;
}

nav.globalMenuSp ul {
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  padding: 15px 30px 15px 0px;
  width: 100%;
  padding: 1em 0 1em 1em;
  text-align: left;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #2b2b2b;

}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

.navToggle {
  display: block;
  position: fixed;
  right: 12px;
  top: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  background: #ffffff;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;    /* .navToggleに対して */
  width: 20px;
  border-bottom: solid 2px #2b2b2b;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  left: 15px;
}

.navToggle span:nth-child(1) {
  top: 16px;
}

.navToggle span:nth-child(2) {
  top: 25px;
}

.navToggle span:nth-child(3) {
  top: 34px;
}

.navToggle.active span:nth-child(1) {
  top: 25px;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}





// devise

.form-body{
  max-width: 400px;
  margin: 0 auto;
}

.form-outline{
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  height: 40px;
  width: 400px;
  border-radius: 20px;
}

.form-group {
  float: left;
  width: 320px;
  margin: 0;
}

.form-icon {
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 6px;
  text-align: center;
}

.my-email {
  color: #8e8e8e;
  display: table-cell;
  padding-top: 12px;
}

.my-password {
  color: #8e8e8e;
  display: table-cell;
  padding-top: 12px;
}

.my-user {
  color: #8e8e8e;
  display: table-cell;
  padding-top: 12px;
}

.form-control {
  padding: 6px 12px 6px 0px;
}

.form-group.boolean {
  height: 0;
}

.form-inputs-text input{
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  border: 0;
  outline: 0;
}

.form-actions input{
  height: 40px;
  width: 400px;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: #2b2b2b;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  color: #ffffff;
  font-weight: bold;
}

.form-actions input a:hover {
  opacity: 0.7;
}

.signup-signin-message h1, h4{
  font-weight: bold;
}