// Place all the styles related to the Rhetorics controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


 @import "bootstrap-sprockets";
 @import "bootstrap";






// quote-container 

.quote-container {
  width: 100%;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(61, 71, 76, 0.2);
  transition-duration: 0.3s;
  text-align: left;
  background-color: #FCFEFF;
}

.quote-container-picture {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}

.quote-container-picture img {
  width: 100%;
  border-radius: 8px;
}

.quote-container-meigen {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.07em;
}

.quote-container-bottom {
  display: flex;
  align-items: center;
}

.quote-container-speaker {
  width: calc(100% - 36.688px);
  font-size: 12px;
  font-weight: 600;
}

.quote-container-liked, .quote-container-like {

}

.quote-container-liked img, .quote-container-like img {
  width: 20px;
}

.quote-container-liked-btn, .quote-container-like-btn {
  display: flex;
  height: 40px;
  width: 40px;
  margin: auto;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .quote-container-speaker {
    width: calc(100% - 46.688px);
  }
}










// quote index

.index-quote {
  padding: 16px 0;
}

#masonry-container {
  margin: auto;
}

.masonry-item {
  width: 400px;
  float: left;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.index-quote-container {
  width: 100%;
  padding: 0 5% 5% 5%;
  border-radius: 2%;
  display: inline-block;
}

.btn-area-like-index {
  float: right;
}

.edit_pick, .new_pick {
  float: left;
}

.btn-liked-index, .btn-like-index {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-like-index, .my-liked-index {
  color: #dd5555;
  margin: auto;
}

.btn-liked-index img, .btn-like-index img {
  border-radius: 0;
  width: 24px;
}

.btn-liked-index img:hover, .btn-like-index img:hover {
  transform: translate3d(0px 0px 0px);
}

@media (max-width: 767px) {
  .masonry-item {
    width: 100%;
  }

  .index-quote-container {
    padding: 0 16px 16px;
  }

  .rhetoric-meigen {
    font-size: 20px;
  }

  .rhetoric-speaker {
    font-size: 13px;
  }

  .rhetoric-speaker {
    width: calc(100% - 46.688px);
  }

  .btn-liked-index, .btn-like-index {
    height: 40px;
    width: 40px;
  }
}
  








// rheotorics show

.show-quote {
  width: 100%;
  margin-bottom: 36px;
}

.show-quote-container {
  padding: 0 10%;
  margin-bottom: 30px;
  column-count: 2;
  column-gap: 0;
  border-radius: 0 0 16px 16px;
  background-color: #FCFEFF;
  box-shadow: 0px 5px 40px rgba(61,71,76,0.1);
}

.show-quote-container-grid {
  width: 100%;
  padding: 40px 15% 40px;
  margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  vertical-align: top;
}

.show-quote-item-grid {
  width: 100%;
  padding: 40px 15% 40px 10%;
  margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  vertical-align: top;
}

.show-quote-item {
  padding: 8px 0;
}

.show-quote-item-discription {
  padding: 0 4px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 2em;
  font-weight: 300;
}

.show-quote-item-tag-container {
  border-bottom: solid 1px #EDF0F2;
  padding: 5px 0 16px;
}

.show-quote-item-user {
  height: 40px;
  width: 100%;
  padding: 5px 5px 5px;
  margin-bottom: 24px;
}

.show-quote-item-user-image {
  float: left;
  height: 30px;
  width: 30px;
}

.show-quote-item-user-image img {
  width: 25px;
  height: 25px;
  margin: 2.5px;
  border-radius: 12.5px;
}

.show-quote-item-user-name {
  float: left;
  height: 25px;
  padding-left: 10px;
  line-height: 30px;
  color: #899399;
  font-size: 12px;
}

.edit-and-delete-quote {
  float: right;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 10px;
}

.edit-and-delete-quote a {
  color: #899399;
}

.show-quote-item-cv-share {
  width: 100%;
}

.btn-share {
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 24px;
  border: none;
  border-radius: 20px;
  background-color: #55acee;
}

.btn-share-img {
  display: flex;
  align-items: center;
}

.btn-share-img img {
  height: 20px;
  width: 24px;
}

.btn-share-text {
  height: 40px;
  width: 100%;
  text-align: center;
}

.btn-share-text h6 {
  font-size: 16px;
  color: #FCFEFF;
}

.related-title {
  display: none;
}

.related-quote-index {
  width: 100%;
}

@media (max-width: 767px) {
  .show-quote-container {
    max-width: 100%;
    column-count: 1;
    padding: 0;
  }

  .show-quote-container-grid {
    padding: 16px 16px 0;
  }

  .show-quote-item-grid {
    padding: 2% 16px 7%;;
  }

  .show-quote-item-user-image {
    width: 10%;
  }

  .related-title {
    display: inline-block;
    margin: 16px 20px;
    font-size: 24px;
    font-weight: 600;
  }
}









// rhetorics-new

.container.rhetorics-new {
  margin: 0;
  min-width: 100%;
  padding: 5%;
}

@media (max-width: 767px) {
  .container.rhetorics-new {
    max-width: 100%;
    padding: 5%;
  }
}

.rhetoric-container.new {
  text-align: left;
}

.rhetoric-container.new:hover {
  transform: none;
  box-shadow: 0px 5px 30px rgba(61,71,76,0.1);
}

.form-inputs.picture {
  margin-bottom: 20px;
}

.form-inputs.picture img {
  width: 100%;
}

.form-inputs p {
  font-size: 10px;
  font-weight: 800;
  color: #dd5555;
}

.textarea-outline.new {
  background-color: #FCFEFF;
  box-shadow: none;
  border: solid #EDF0F2 1px;
  margin-bottom: 20px;
  min-height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
}

.form-outline.new {
  background-color: #FCFEFF;
  box-shadow: none;
  border: solid #EDF0F2 1px;
  width: 100%;
  border-radius: 10px;
  height: 42px;
}

.form-outline.new input {
  margin: 0 8px;
}

.textarea-outline.new textarea {
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.textarea-outline.discription {
  background-color: #FCFEFF;
  box-shadow: none;
  border: solid #EDF0F2 1px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
  margin-top: 20px;
  min-height: 80px;
}

.textarea-outline.new textarea {
  min-height: 80px;
}

.textarea-outline.discription textarea {
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: inline-block;
  min-height: 90px;
}

.form-actions-rhetoric-new [type="submit"]  {
  float: left;
  height: 40px;
  width: 45%;
  margin: 10px 2%;
}

.form-actions-rhetoric-new input {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(61,71,76,0.2);
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
}

#rhetoric_meigen, #rhetoric_discription {
  white-space: pre-wrap;
  word-wrap: break-word;
}





