// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// profile

.container.profile {
    height: 120px;
    width: 50%;
    padding: 20px;
    margin: 50px 25% 0px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .container.profile {
      min-width: 90%;
      margin: 50px 5% 20px;
      box-sizing: border-box;
    }
}

.user-show-user-image {
    float: left;
    height: 80px;
    width: 20%;
    padding: 10px;
}

.user-show-user-image img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.user-show-user-name {
    float: left;
    height: 80px;
    width: 55%;
    margin: auto;
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

.user-show-user-name p {
    font-size: 30px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .user-show-user-name p {
        font-size: 25px;
    }
}

.user-show-followbtn {
    float: left;
    height: 80px;
    width: 25%;
    padding: 10px 10px 10px 0;
}

.follow-btn, .unfollow-btn {
    width: 100px;
    height: 25px;
    margin: 20px 0;
    border: none;
    border-radius: 12.5px;
    font-size: 12px;
    line-height: 25px;
    color: #FCFEFF;
}

.follow-btn {
    background-color: #899399;
}

.unfollow-btn {
    background-color: #1A2023;
}

.container-tabs {
    height: 30px;
    width: 50%;
    text-align: center;
    margin: 0 25%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .container-tabs {
        min-width: 90%;
        margin: 0 5%;
    }
}


.profile-tab {
    display: inline-block;
    float: left;
    width: 100%;
    height: 30px;
    padding: 3px 15px; 
    font-size: 10px;
    color: #899399;
    font-weight: 800;
    line-height: 22px;
}

.tab.active {
    border-bottom-color: #1A2023;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.tab {
    border-bottom-color: #EDF0F2;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.tab.liked {
    width: 30%;
}

.tab.post {
    width: 26%;
}

.tab.follow {
    width: 20%;
}

.tab.follower {
    width: 24%;
}

.tab:hover {
    background-color: #EDF0F2;
}



.container.profile-contents {
    width: 50%;
    padding: 0 40px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .container.profile-contents {
        max-width: 100%;
        padding: 5%;
        margin-top: 5px;
    }
}

.profile-contents-columnFix {
    column-count: 2;
    column-gap: 0;
}

@media (max-width: 767px) {
    .profile-contents-columnFix {
      column-count: 1;
    }
  }

.follow-user, .follower-user {
    height: 60px;
    width :100%;
    margin-top: 10px;
    border-bottom: solid 2px #EDF0F2;
}

.follow-user-left, .follower-user-left {
    float: left;
    width: 15%;
    height: 60px;
    padding: 10px;
}

.follow-user-right, .follower-user-right {
    float: left;
    width: 85%;
    height: 60px;
    padding: 10px;
}

.follow-user-image, .follower-user-image {
    width: 40px;
    margin: 0 auto;
}

.follow-user-image img, .follower-user-image img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.follow-user-name, .follower-user-name {
    font-size: 20px;
    line-height: 40px;
}






// edit-profile 

.container.edit-profile {
    min-width: 100%;
    padding: 0 10%;
}

@media (max-width: 767px) {
    .container.edit-profile {
      padding: 0 3%;
    }
}

.container.edit-profile h1 {
    margin: 0 0 40px;
}

.edit-form-body {
    width: 100%;
}

.edit-form-content {
    width: 590px;
    padding: 5px 0 0;
    margin-bottom: 10px;
    border-bottom: solid #EDF0F2 1px;
    display: inline-block;
}

@media (max-width: 767px) {
    .edit-form-content {
        width: 100%;
    }

    .edit-form-left {
        width: 100%;
    }
    
    .edit-form-right {
        width: 100%;
        margin-top: 10px; 
    }

    .edit-form-right input {
        width: 100%;
    }
}

.edit-form-left {
    float: left;
    width: 240px;
    display: inline-block;
    padding: 0 20px 0 0;
}

.edit-form-left h6 {
    font-size: 15px;
    font-weight: 800;
    margin: 0;
}

.edit-form-left p {
    font-size: 8px;
    font-weight: 500;
    margin: 5px 0 0;
    display: block;
    color: #899399;
}

.edit-form-right {
    float: left;
    width: 350px;
    height: 50px;
}

.edit-form-right input {
    background-color: #EDF0F2;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 6px 12px;
}

.form-actions.rhetoric-edit {
    height: 80px;
    width: 590px;
    padding-right: 30px; 
}

@media (max-width: 767px) {
    .form-actions.rhetoric-edit {
        width: 100%;
        padding: 0;
    }
}

.form-actions.rhetoric-edit input {
    float: right;
    width: 150px;
}

.delete-account {
    height: 40px;
    width: 590px;
    margin: 0;
    padding-right: 30px;
    font-size: 10px;
    color: #899399;
}

@media (max-width: 767px) {
    .delete-account {
        width: 100%;
        margin: 20px 0;
        padding-right: 0;
    }
}

.delete-account p {
    float: right;
}