// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// profile

.user-profile {
    width: 100%;
    background-color: #FCFEFF;
    box-shadow: 0px 5px 40px rgba(61, 71, 76, 0.1);
}

.user-profile-container {
    width: 50%;
    padding: 24px 16px 0;
    margin: 0 auto 16px;
}

.user-profile-image {
    height: 60px;
    width: 100%;
    padding-left: 8px;
    margin-bottom: 16px;
}

.user-profile-image img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-profile-name {
    width: 100%;
    margin-bottom: 16px;
}

.user-profile-name p {
    font-size: 16px;
    font-weight: 600;
}

.profile-tab-container {
    width: 100%;
    height: 40px;
}

.profile-tab {
    display: inline-block;
    float: left;
    height: 40px;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    border-bottom-color: #FCFEFF;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.profile-tab.active {
    font-weight: 800;
    border-bottom-color: #1A2023;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

@media (max-width: 767px) {
    .user-profile-container {
        width: 100%;
    }

    .user-profile-name p {
        font-size: 16px;
    }

    .profile-tab-contents {
        margin-top: 5px;
        min-width: 100%;
        display: inline-block;
    }

    .rhetoric-index-container.profile {
        padding: 0 0 5%;
    }
}













// edit-profile 

.container.edit-profile {
    min-width: 100%;
    padding: 0 10%;
}

@media (max-width: 767px) {
    .container.edit-profile {
      padding: 0 5%;
    }
}

.container.edit-profile h1 {
    margin: 0 0 40px;
}

.edit-form-body {
    width: 100%;
}

.edit-form-content {
    width: 650px;
    padding: 5px 0 0;
    margin-bottom: 10px;
    border-bottom: solid #EDF0F2 1px;
    display: inline-block;
}

.edit-form-left {
    float: left;
    width: 240px;
    display: inline-block;
    padding: 0 20px 0 0;
}

.edit-form-left h6 {
    font-size: 15px;
    font-weight: 800;
    margin: 0;
}

.edit-form-left p {
    font-size: 8px;
    font-weight: 500;
    margin: 5px 0 0;
    display: block;
    color: #899399;
}

.edit-form-right {
    float: left;
    width: 350px;
    height: 50px;
}

.edit-form-right input {
    background-color: #EDF0F2;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 6px 12px;
}

.edit-form-content.userImg {
    width: 650px;
    padding: 5px 0 0;
    margin-bottom: 10px;
    border-bottom: solid #EDF0F2 1px;
    display: inline-block;
}

.userImagePreview {
    height: 80px;
}

.userPresentImg, #userImgPrev {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

#post_img {
    background-color: #FCFEFF;
}

.form-actions.rhetoric-edit {
    height: 80px;
    width: 590px;
    padding-right: 30px; 
}

@media (max-width: 767px) {
    .form-actions.rhetoric-edit {
        width: 100%;
        padding: 0;
    }
}

.form-actions.rhetoric-edit input {
    float: right;
    width: 150px;
}

.delete-account {
    height: 40px;
    width: 590px;
    margin: 0;
    padding-right: 30px;
    font-size: 10px;
    color: #899399;
}

@media (max-width: 767px) {
    .delete-account {
        width: 100%;
        margin: 20px 0;
        padding-right: 0;
    }
}

.delete-account p {
    float: right;
}

@media (max-width: 767px) {
    .edit-form-content {
        width: 100%;
    }

    .edit-form-left {
        width: 100%;
    }
    
    .edit-form-right {
        width: 100%;
        margin-top: 10px; 
    }

    div.edit-form-right * {
        width: 100%;
    }
}