<div class="main-inquiry-done">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="message">
                    <h2>お問い合わせを送信しました</h2>
                    <p>お問い合わせいただきありがとうございました。<br>今後もQuoteを毎日改善してまいります。</p>
                </div>
                <div class="back-to-top">
                    <%=link_to 'トップに戻る', root_path %>
                </div>
            </div>
        </div>
    </div>
</div>