<div class="main inquiry-done">
    <div class="container inquiry-done">
        <div class="inquiry-message center">
            <h2>お問い合わせを送信しました</h2>
            <h5>お問い合わせいただきありがとうございました。<br>今後もQuoteを毎日改善してまいります。</h5>
        </div>
        
        <%= link_to root_path do %>
            <div class="back-to-top">
                <p>トップに戻る</p>
            </div>
        <% end %>
    </div>
</div>